@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Merchandising Unit Build</h1>
</div>
<div class="row">
    @*<div class="col-md-4">*@
        <h2>Welcome to Merchandising Unit Build</h2>
        <p>
            Merchandising Unit Build is an application that
            demonstrates how to replicate, in table format, the merchandising unit in store.
            This enables the data to be reported on and used for analysis
            to enable informed decisions to be made.  The table can also be imported into 
            Planogram software to create a visual representation of what is on shelf.  
            This can then be compared to the planogram associated with that store.

        </p>
    </div>

</div>